<nav class="navbar">
    <div class="nav-left">
        <img src="/img/logo.jpeg" class="logo" alt="Tuck & Twist Logo">
        <h1 class="brand">TUCK & TWIST</h1>
    </div>

    <!-- DESKTOP NAV LINKS -->
    <ul class="nav-links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/partner">Partner With Us</a></li>
        <li><a href="/join-team">Join Our Team</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart" class="cart">Cart</a></li>

        <!-- MOBILE CLOSE BUTTON -->
        <i class="fa-solid fa-xmark close-menu"></i>

       
    </ul>
     
   
    <!-- DESKTOP ICONS -->
    <div class="nav-icons">
       <a href="/cart" class="cart-link">
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="cart-count">0</span>
</a>
        <!-- <i class="fa-solid fa-cart-shopping"></i> -->
    </div>

    <!-- MOBILE MENU BUTTON (HAMBURGER) -->
    <i class="fa-solid fa-bars menu-toggle"></i>
</nav>

<!-- BACKDROP FOR MOBILE -->
<div id="nav-backdrop"></div>
